openapi: 3.2.0
info:
  title: Drchrono Practice Management API
  version: v4 - Hunt Valley
  x-logo:
    url: https://www.drchrono.com/site_media/images/logos/drchrono-black-wpadding.png
    altText: DrChrono Logo
  description: 'Operations tagged Practice Management across 2 of this provider''s published API definitions: drchrono-rest-api-openapi-schema.json, drchrono-rest-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://app.drchrono.com
tags:
- description: Create and manage practice management resources
  name: Practice Management
paths:
  /api/doctor_work_schedule/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: doctor_work_schedule_update
      description: Update an existing doctor's entire work schedule
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: doctor_work_schedule_partial_update
      description: Update an existing doctor's work schedule
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkSchedule'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: doctor_work_schedule_read
      description: Retrieve a work schedule for the doctor (beta)
    servers:
    - url: https://app.drchrono.com
  /api/messages:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoctorMessage'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: integer
          description: ''
          title: responsible_user
        required: false
        description: ''
        name: responsible_user
        in: query
      - schema:
          type: string
          description: ''
          title: updated_since
        required: false
        description: ''
        name: updated_since
        in: query
      - schema:
          type: string
          description: ''
          title: received_since
        required: false
        description: ''
        name: received_since
        in: query
      - schema:
          type: integer
          description: ''
          title: owner
        required: false
        description: ''
        name: owner
        in: query
      - schema:
          type: string
          description: ''
          title: type
        required: false
        description: ''
        name: type
        in: query
      tags:
      - Practice Management
      x-permissions:
      - message-center
      x-practice-access: '"share_communications" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - messages:read
        - messages:write
      operationId: messages_create
      description: Create messages in doctor's message center
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/DoctorMessage'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: integer
          description: ''
          title: responsible_user
        required: false
        description: ''
        name: responsible_user
        in: query
      - schema:
          type: string
          description: ''
          title: updated_since
        required: false
        description: ''
        name: updated_since
        in: query
      - schema:
          type: string
          description: ''
          title: received_since
        required: false
        description: ''
        name: received_since
        in: query
      - schema:
          type: integer
          description: ''
          title: owner
        required: false
        description: ''
        name: owner
        in: query
      - schema:
          type: string
          description: ''
          title: type
        required: false
        description: ''
        name: type
        in: query
      tags:
      - Practice Management
      x-permissions:
      - message-center
      x-practice-access: '"share_communications" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - messages:read
        - messages:write
      operationId: messages_list
      description: Retrieve or search messages in doctor's message center
    servers:
    - url: https://app.drchrono.com
  /api/task_categories:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCategory'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_categories_create
      description: Create a task category
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/TaskCategory'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_categories_list
      description: Retrieve or search task categories
    servers:
    - url: https://app.drchrono.com
  /api/offices/{id}/add_exam_room:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: offices_add_exam_room
      description: Add an exam room to the office
    servers:
    - url: https://app.drchrono.com
  /api/inventory_vaccines/{id}:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryVaccine'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: string
          description: ''
          title: cvx_code
        required: false
        description: ''
        name: cvx_code
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions:
      - clinical-notes
      x-practice-access: '"share_inventory" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - clinical:read
        - clinical:write
      operationId: inventory_vaccines_read
      description: Retrieve an existing vaccine inventory
    servers:
    - url: https://app.drchrono.com
  /api/offices:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/Office'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: offices_list
      description: Retrieve or search offices
    servers:
    - url: https://app.drchrono.com
  /api/task_statuses/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_statuses_update
      description: Update an existing task status
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_statuses_partial_update
      description: Update an existing task status
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatus'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_statuses_read
      description: Retrieve an existing task status
    servers:
    - url: https://app.drchrono.com
  /api/office_work_schedule:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkSchedule'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2: []
      operationId: office_work_schedule_list
      description: Get the work schedule for the authed doctor's primary office (beta)
    servers:
    - url: https://app.drchrono.com
  /api/task_templates:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTemplate'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_templates_create
      description: Create a task template
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/TaskTemplate'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_templates_list
      description: Retrieve or search task templates
    servers:
    - url: https://app.drchrono.com
  /api/office_work_schedule/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: office_work_schedule_update
      description: Update an existing office's entire work schedule
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: office_work_schedule_partial_update
      description: Update an existing office's work schedule
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkSchedule'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: office_work_schedule_read
      description: Retrieve a work schedule (beta)
    servers:
    - url: https://app.drchrono.com
  /api/inventory_categories/{id}:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCategory'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions:
      - clinical-notes
      x-practice-access: '"share_inventory" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - clinical:read
        - clinical:write
      operationId: inventory_categories_read
      description: Retrieve an existing inventory category
    servers:
    - url: https://app.drchrono.com
  /api/tasks/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_date
        required: false
        description: ''
        name: due_at_date
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_unknown
        required: false
        description: ''
        name: due_at_unknown
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_since
        required: false
        description: ''
        name: due_at_since
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_range
        required: false
        description: ''
        name: due_at_range
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: tasks_update
      description: Update an existing task
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_date
        required: false
        description: ''
        name: due_at_date
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_unknown
        required: false
        description: ''
        name: due_at_unknown
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_since
        required: false
        description: ''
        name: due_at_since
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_range
        required: false
        description: ''
        name: due_at_range
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: tasks_partial_update
      description: Update an existing task
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_date
        required: false
        description: ''
        name: due_at_date
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_unknown
        required: false
        description: ''
        name: due_at_unknown
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_since
        required: false
        description: ''
        name: due_at_since
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_range
        required: false
        description: ''
        name: due_at_range
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: tasks_read
      description: Retrieve an existing task
    servers:
    - url: https://app.drchrono.com
  /api/doctor_work_schedule:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkSchedule'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2: []
      operationId: doctor_work_schedule_list
      description: Get the work schedule for the authed doctor's primary office (beta)
    servers:
    - url: https://app.drchrono.com
  /api/inventory_categories:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/InventoryCategory'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions:
      - clinical-notes
      x-practice-access: '"share_inventory" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - clinical:read
        - clinical:write
      operationId: inventory_categories_list
      description: Retrieve or search inventory categories
    servers:
    - url: https://app.drchrono.com
  /api/task_statuses:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatus'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_statuses_create
      description: Create a task status
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/TaskStatus'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_statuses_list
      description: Retrieve or search task statuses
    servers:
    - url: https://app.drchrono.com
  /api/task_templates/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_templates_update
      description: Update an existing task template
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_templates_partial_update
      description: Update an existing task template
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTemplate'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_templates_read
      description: Retrieve an existing task template
    servers:
    - url: https://app.drchrono.com
  /api/message_threads/{id}:
    patch:
      responses:
        '200':
          content:
            application/json:
              examples:
                update_success:
                  value:
                    assigned_groups:
                    - 301
                    - 302
                    archived: false
                    first_message: 100001
                    patient: 45678
                    doctor: 98765
                    last_message: 100005
                    practice_group: 5001
                    created_at: '2026-04-15T10:30:00Z'
                    updated_at: '2026-04-28T14:25:00Z'
                    assigned_user_profiles:
                    - 201
                    message_count: 5
                    unread_count: 2
                    last_message_at: '2026-04-28T14:22:00Z'
                    owners:
                    - 98765
                    starred: true
                    message_type: MC
                    id: 12345
                    subject: Lab Results Follow-up
                  summary: Successfully updated thread
                cleared_assignments_response:
                  value:
                    assigned_groups: []
                    archived: false
                    first_message: 100010
                    patient: 45679
                    doctor: 98765
                    last_message: 100012
                    practice_group: 5001
                    created_at: '2026-04-20T09:15:00Z'
                    updated_at: '2026-04-29T10:45:00Z'
                    assigned_user_profiles: []
                    message_count: 3
                    unread_count: 0
                    last_message_at: '2026-04-27T16:45:00Z'
                    owners:
                    - 98765
                    starred: false
                    message_type: MC
                    id: 12346
                    subject: Prescription Refill Request
                  summary: Thread with all assignments cleared
                reassigned_response:
                  value:
                    assigned_groups:
                    - 302
                    archived: false
                    first_message: 100001
                    patient: 45678
                    doctor: 98765
                    last_message: 100005
                    practice_group: 5001
                    created_at: '2026-04-15T10:30:00Z'
                    updated_at: '2026-04-29T10:30:00Z'
                    assigned_user_profiles:
                    - 203
                    message_count: 5
                    unread_count: 2
                    last_message_at: '2026-04-28T14:22:00Z'
                    owners:
                    - 98765
                    starred: true
                    message_type: MC
                    id: 12345
                    subject: Lab Results Follow-up
                  summary: Thread reassigned to different users and groups
                starred_response:
                  value:
                    assigned_groups: []
                    archived: false
                    first_message: 100010
                    patient: 45679
                    doctor: 98765
                    last_message: 100012
                    practice_group: 5001
                    created_at: '2026-04-20T09:15:00Z'
                    updated_at: '2026-04-29T10:00:00Z'
                    assigned_user_profiles:
                    - 201
                    message_count: 3
                    unread_count: 0
                    last_message_at: '2026-04-27T16:45:00Z'
                    owners:
                    - 98765
                    starred: true
                    message_type: MC
                    id: 12346
                    subject: Prescription Refill Request
                  summary: Thread starred successfully
                archived_response:
                  value:
                    assigned_groups: []
                    archived: true
                    first_message: 100020
                    patient: 45680
                    doctor: 98765
                    last_message: 100020
                    practice_group: 5001
                    created_at: '2026-04-28T08:00:00Z'
                    updated_at: '2026-04-29T10:15:00Z'
                    assigned_user_profiles: []
                    message_count: 1
                    unread_count: 0
                    last_message_at: '2026-04-28T08:00:00Z'
                    owners:
                    - 98765
                    starred: false
                    message_type: GP
                    id: 12350
                    subject: Appointment Confirmation Required
                  summary: Thread archived successfully
              schema:
                $ref: '#/components/schemas/DoctorMessageThread'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: integer
          description: ''
          title: practice_group
        required: false
        description: ''
        name: practice_group
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: string
          description: ''
          title: message_type
        required: false
        description: ''
        name: message_type
        in: query
      - schema:
          type: string
          description: ''
          title: archived
        required: false
        description: ''
        name: archived
        in: query
      - schema:
          type: string
          description: ''
          title: starred
        required: false
        description: ''
        name: starred
        in: query
      - schema:
          type: integer
          description: ''
          title: unread_count
        required: false
        description: ''
        name: unread_count
        in: query
      - schema:
          type: string
          description: ''
          title: updated_since
        required: false
        description: ''
        name: updated_since
        in: query
      tags:
      - Practice Management
      x-permissions:
      - message-center
      requestBody:
        content:
          application/json:
            examples:
              archive_and_unstar:
                value:
                  assigned_groups: []
                  archived: true
                  starred: false
                  assigned_user_profiles: []
                summary: Archive and unstar a completed thread
              assign_users:
                value:
                  assigned_groups:
                  - 301
                  assigned_user_profiles:
                  - 201
                  - 202
                summary: Assign users and groups to a thread
              star_thread:
                value:
                  starred: true
                summary: Star a thread
              combined_update:
                value:
                  assigned_groups:
                  - 301
                  - 302
                  starred: true
                  archived: false
                  assigned_user_profiles:
                  - 201
                summary: Update multiple fields at once
              reassign_to_different_group:
                value:
                  assigned_groups:
                  - 302
                  assigned_user_profiles:
                  - 203
                summary: Reassign to a different group
              clear_assignments:
                value:
                  assigned_groups: []
                  assigned_user_profiles: []
                summary: Clear all user and group assignments
              archive_thread:
                value:
                  archived: true
                summary: Archive a thread
              unarchive_thread:
                value:
                  archived: false
                summary: Unarchive a thread
              unstar_thread:
                value:
                  starred: false
                summary: Unstar a thread
            schema:
              type: object
              properties:
                assigned_groups:
                  items:
                    type: integer
                  type: array
                  description: Array of user group IDs to assign to this thread
                  title: Assigned groups
                archived:
                  type: boolean
                  description: Whether the thread is archived
                  title: Archived
                starred:
                  type: boolean
                  description: Whether the thread is starred
                  title: Starred
                assigned_user_profiles:
                  items:
                    type: integer
                  type: array
                  description: Array of user profile IDs to assign to this thread
                  title: Assigned user profiles
        required: false
      x-practice-access: '"share_communications" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - messages:read
        - messages:write
      operationId: message_threads partial update (beta)
      description: 'Partially update a message thread.


        Only the following fields can be updated:

        - `archived` (boolean): Mark thread as archived/unarchived

        - `starred` (boolean): Mark thread as starred/unstarred

        - `assigned_user_profiles` (array of integers): Assign user profiles to the thread

        - `assigned_groups` (array of integers): Assign user groups to the thread


        All other fields are read-only and will be ignored if provided.

        '
    get:
      responses:
        '200':
          content:
            application/json:
              examples:
                read_thread_archived:
                  value:
                    assigned_groups: []
                    archived: true
                    first_message: 100015
                    patient: 45678
                    doctor: 98765
                    last_message: 100017
                    practice_group: 5001
                    created_at: '2026-03-10T14:00:00Z'
                    updated_at: '2026-03-12T11:30:00Z'
                    assigned_user_profiles:
                    - 203
                    message_count: 3
                    unread_count: 0
                    last_message_at: '2026-03-12T11:30:00Z'
                    owners:
                    - 98765
                    starred: false
                    message_type: MC
                    id: 12348
                    subject: Insurance Question
                  summary: Get archived thread
                read_thread_no_unread:
                  value:
                    assigned_groups: []
                    archived: false
                    first_message: 100010
                    patient: 45679
                    doctor: 98765
                    last_message: 100012
                    practice_group: 5001
                    created_at: '2026-04-20T09:15:00Z'
                    updated_at: '2026-04-27T16:45:00Z'
                    assigned_user_profiles:
                    - 201
                    message_count: 3
                    unread_count: 0
                    last_message_at: '2026-04-27T16:45:00Z'
                    owners:
                    - 98765
                    starred: false
                    message_type: MC
                    id: 12346
                    subject: Prescription Refill Request
                  summary: Get thread with no unread messages
                read_thread:
                  value:
                    assigned_groups:
                    - 301
                    archived: false
                    first_message: 100001
                    patient: 45678
                    doctor: 98765
                    last_message: 100005
                    practice_group: 5001
                    created_at: '2026-04-15T10:30:00Z'
                    updated_at: '2026-04-28T14:22:00Z'
                    assigned_user_profiles:
                    - 201
                    - 202
                    message_count: 5
                    unread_count: 2
                    last_message_at: '2026-04-28T14:22:00Z'
                    owners:
                    - 98765
                    starred: true
                    message_type: MC
                    id: 12345
                    subject: Lab Results Follow-up
                  summary: Get a single message thread
                read_thread_internal_fax:
                  value:
                    assigned_groups:
                    - 301
                    - 302
                    archived: false
                    first_message: 100030
                    patient: 45682
                    doctor: 98765
                    last_message: 100030
                    practice_group: 5001
                    created_at: '2026-04-26T13:45:00Z'
                    updated_at: '2026-04-26T13:45:00Z'
                    assigned_user_profiles:
                    - 201
                    - 202
                    - 203
                    message_count: 1
                    unread_count: 0
                    last_message_at: '2026-04-26T13:45:00Z'
                    owners:
                    - 98765
                    starred: false
                    message_type: IF
                    id: 12352
                    subject: Patient Records Transfer
                  summary: Get internal fax thread
                read_thread_general_patient:
                  value:
                    assigned_groups: []
                    archived: false
                    first_message: 100020
                    patient: 45680
                    doctor: 98765
                    last_message: 100020
                    practice_group: 5001
                    created_at: '2026-04-28T08:00:00Z'
                    updated_at: '2026-04-28T08:00:00Z'
                    assigned_user_profiles: []
                    message_count: 1
                    unread_count: 1
                    last_message_at: '2026-04-28T08:00:00Z'
                    owners:
                    - 98765
                    starred: false
                    message_type: GP
                    id: 12350
                    subject: Appointment Confirmation Required
                  summary: Get general patient message thread
              schema:
                $ref: '#/components/schemas/DoctorMessageThread'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: integer
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: integer
          description: ''
          title: practice_group
        required: false
        description: ''
        name: practice_group
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: string
          description: ''
          title: message_type
        required: false
        description: ''
        name: message_type
        in: query
      - schema:
          type: boolean
          description: ''
          title: archived
        required: false
        description: ''
        name: archived
        in: query
      - schema:
          type: boolean
          description: ''
          title: starred
        required: false
        description: ''
        name: starred
        in: query
      - schema:
          type: integer
          description: ''
          title: unread_count
        required: false
        description: ''
        name: unread_count
        in: query
      - schema:
          type: string
          description: ''
          title: updated_since
        required: false
        description: ''
        name: updated_since
        in: query
      tags:
      - Practice Management
      x-permissions:
      - message-center
      x-practice-access: '"share_communications" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - messages:read
        - messages:write
      operationId: message_threads read (beta)
      description: 'Retrieve a single message thread by ID (beta)


        Work to support message threads is currently in development. This is not ready for full use.

        '
    servers:
    - url: https://app.drchrono.com
  /api/task_notes:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskNote'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: integer
          description: ''
          title: task
        required: false
        description: ''
        name: task
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_notes_create
      description: Create a task note
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/TaskNote'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: task
        required: false
        description: ''
        name: task
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_notes_list
      description: Retrieve or search task notes
    servers:
    - url: https://app.drchrono.com
  /api/tasks:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_date
        required: false
        description: ''
        name: due_at_date
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_unknown
        required: false
        description: ''
        name: due_at_unknown
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_since
        required: false
        description: ''
        name: due_at_since
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_range
        required: false
        description: ''
        name: due_at_range
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: tasks_create
      description: Create a task
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/Task'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_date
        required: false
        description: ''
        name: due_at_date
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_unknown
        required: false
        description: ''
        name: due_at_unknown
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_since
        required: false
        description: ''
        name: due_at_since
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_range
        required: false
        description: ''
        name: due_at_range
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: tasks_list
      description: Retrieve or search tasks
    servers:
    - url: https://app.drchrono.com
  /api/inventory_vaccines:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryVaccine'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: string
          description: ''
          title: cvx_code
        required: false
        description: ''
        name: cvx_code
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions:
      - clinical-notes
      x-practice-access: '"share_inventory" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - clinical:read
        - clinical:write
      operationId: inventory_vaccines_create
      description: Create vaccine inventory
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/InventoryVaccine'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: string
          description: ''
          title: cvx_code
        required: false
        description: ''
        name: cvx_code
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions:
      - clinical-notes
      x-practice-access: '"share_inventory" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - clinical:read
        - clinical:write
      operationId: inventory_vaccines_list
      description: Retrieve or search vaccine inventories
    servers:
    - url: https://app.drchrono.com
  /api/task_categories/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_categories_update
      description: Update an existing task category
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_categories_partial_update
      description: Update an existing task category
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCategory'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_categories_read
      description: Retrieve an existing task category
    servers:
    - url: https://app.drchrono.com
  /api/task_notes/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: task
        required: false
        description: ''
        name: task
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_notes_update
      description: Update an existing task note
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: task
        required: false
        description: ''
        name: task
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_notes_partial_update
      description: Update an existing task note
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskNote'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: task
        required: false
        description: ''
        name: task
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_notes_read
      description: Retrieve an existing task note
    servers:
    - url: https://app.drchrono.com
  /api/messages/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: integer
          description: ''
          title: responsible_user
        required: false
        description: ''
        name: responsible_user
        in: query
      - schema:
          type: string
          description: ''
          title: updated_since
        required: false
        description: ''
        name: updated_since
        in: query
      - schema:
          type: string
          description: ''
          title: received_since
        required: false
        description: ''
        name: received_since
        in: query
      - schema:
          type: integer
          description: ''
          title: owner
        required: false
        description: ''
        name: owner
        in: query
      - schema:
          type: string
          description: ''
          title: type
        required: false
        description: ''
        name: type
        in: query
      tags:
      - Practice Management
      x-permissions:
      - message-center
      x-practice-access: '"share_communications" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - messages:read
        - messages:write
      operationId: messages_update
      description: Update an existing message in doctor's message center
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: integer
          description: ''
          title: responsible_user
        required: false
        description: ''
        name: responsible_user
        in: query
      - schema:
          type: string
          description: ''
          title: updated_since
        required: false
        description: ''
        name: updated_since
        in: query
      - schema:
          type: string
          description: ''
          title: received_since
        required: false
        description: ''
        name: received_since
        in: query
      - schema:
          type: integer
          description: ''
          title: owner
        required: false
        description: ''
        name: owner
        in: query
      - schema:
          type: string
          description: ''
          title: type
        required: false
        description: ''
        name: type
        in: query
      tags:
      - Practice Management
      x-permissions:
      - message-center
      x-practice-access: '"share_communications" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - messages:read
        - messages:write
      operationId: messages_partial_update
      description: Update an existing message in doctor's message center
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoctorMessage'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
[...]
