openapi: 3.0.0
info:
  version: v4 - Hunt Valley
  description: RESTful API for the drchrono EHR platform providing access to patient records, clinical encounters, appointments, prescriptions, billing, lab orders, and practice administration with OAuth 2.0 authentication and HIPAA-compliant data exchange.
  x-logo:
    url: https://www.drchrono.com/site_media/images/logos/drchrono-black-wpadding.png
    altText: DrChrono Logo
  title: DrChrono EHR REST Administrative Practice Management API
servers:
- url: https://app.drchrono.com
tags:
- description: Create and manage practice management resources
  name: Practice Management
paths:
  /api/doctor_work_schedule/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: doctor_work_schedule_update
      description: Update an existing doctor's entire work schedule
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: doctor_work_schedule_partial_update
      description: Update an existing doctor's work schedule
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkSchedule'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: doctor_work_schedule_read
      description: Retrieve a work schedule for the doctor (beta)
  /api/messages:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoctorMessage'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: integer
          description: ''
          title: responsible_user
        required: false
        description: ''
        name: responsible_user
        in: query
      - schema:
          type: string
          description: ''
          title: updated_since
        required: false
        description: ''
        name: updated_since
        in: query
      - schema:
          type: string
          description: ''
          title: received_since
        required: false
        description: ''
        name: received_since
        in: query
      - schema:
          type: integer
          description: ''
          title: owner
        required: false
        description: ''
        name: owner
        in: query
      - schema:
          type: string
          description: ''
          title: type
        required: false
        description: ''
        name: type
        in: query
      tags:
      - Practice Management
      x-permissions:
      - message-center
      x-practice-access: '"share_communications" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - messages:read
        - messages:write
      operationId: messages_create
      description: Create messages in doctor's message center
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/DoctorMessage'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: integer
          description: ''
          title: responsible_user
        required: false
        description: ''
        name: responsible_user
        in: query
      - schema:
          type: string
          description: ''
          title: updated_since
        required: false
        description: ''
        name: updated_since
        in: query
      - schema:
          type: string
          description: ''
          title: received_since
        required: false
        description: ''
        name: received_since
        in: query
      - schema:
          type: integer
          description: ''
          title: owner
        required: false
        description: ''
        name: owner
        in: query
      - schema:
          type: string
          description: ''
          title: type
        required: false
        description: ''
        name: type
        in: query
      tags:
      - Practice Management
      x-permissions:
      - message-center
      x-practice-access: '"share_communications" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - messages:read
        - messages:write
      operationId: messages_list
      description: Retrieve or search messages in doctor's message center
  /api/task_categories:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCategory'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_categories_create
      description: Create a task category
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/TaskCategory'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_categories_list
      description: Retrieve or search task categories
  /api/offices/{id}/add_exam_room:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: offices_add_exam_room
      description: Add an exam room to the office
  /api/inventory_vaccines/{id}:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryVaccine'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: string
          description: ''
          title: cvx_code
        required: false
        description: ''
        name: cvx_code
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions:
      - clinical-notes
      x-practice-access: '"share_inventory" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - clinical:read
        - clinical:write
      operationId: inventory_vaccines_read
      description: Retrieve an existing vaccine inventory
  /api/offices:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/Office'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: offices_list
      description: Retrieve or search offices
  /api/task_statuses/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_statuses_update
      description: Update an existing task status
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_statuses_partial_update
      description: Update an existing task status
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatus'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_statuses_read
      description: Retrieve an existing task status
  /api/office_work_schedule:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkSchedule'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2: []
      operationId: office_work_schedule_list
      description: Get the work schedule for the authed doctor's primary office (beta)
  /api/task_templates:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTemplate'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_templates_create
      description: Create a task template
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/TaskTemplate'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_templates_list
      description: Retrieve or search task templates
  /api/office_work_schedule/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: office_work_schedule_update
      description: Update an existing office's entire work schedule
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: office_work_schedule_partial_update
      description: Update an existing office's work schedule
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkSchedule'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: office_work_schedule_read
      description: Retrieve a work schedule (beta)
  /api/inventory_categories/{id}:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCategory'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions:
      - clinical-notes
      x-practice-access: '"share_inventory" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - clinical:read
        - clinical:write
      operationId: inventory_categories_read
      description: Retrieve an existing inventory category
  /api/tasks/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_date
        required: false
        description: ''
        name: due_at_date
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_unknown
        required: false
        description: ''
        name: due_at_unknown
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_since
        required: false
        description: ''
        name: due_at_since
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_range
        required: false
        description: ''
        name: due_at_range
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: tasks_update
      description: Update an existing task
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_date
        required: false
        description: ''
        name: due_at_date
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_unknown
        required: false
        description: ''
        name: due_at_unknown
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_since
        required: false
        description: ''
        name: due_at_since
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_range
        required: false
        description: ''
        name: due_at_range
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: tasks_partial_update
      description: Update an existing task
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_date
        required: false
        description: ''
        name: due_at_date
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_unknown
        required: false
        description: ''
        name: due_at_unknown
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_since
        required: false
        description: ''
        name: due_at_since
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_range
        required: false
        description: ''
        name: due_at_range
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: tasks_read
      description: Retrieve an existing task
  /api/doctor_work_schedule:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkSchedule'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2: []
      operationId: doctor_work_schedule_list
      description: Get the work schedule for the authed doctor's primary office (beta)
  /api/inventory_categories:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/InventoryCategory'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions:
      - clinical-notes
      x-practice-access: '"share_inventory" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - clinical:read
        - clinical:write
      operationId: inventory_categories_list
      description: Retrieve or search inventory categories
  /api/task_statuses:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatus'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_statuses_create
      description: Create a task status
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/TaskStatus'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_statuses_list
      description: Retrieve or search task statuses
  /api/task_templates/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_templates_update
      description: Update an existing task template
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_templates_partial_update
      description: Update an existing task template
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTemplate'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_templates_read
      description: Retrieve an existing task template
  /api/task_notes:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskNote'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: integer
          description: ''
          title: task
        required: false
        description: ''
        name: task
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_notes_create
      description: Create a task note
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/TaskNote'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: task
        required: false
        description: ''
        name: task
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_notes_list
      description: Retrieve or search task notes
  /api/tasks:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_date
        required: false
        description: ''
        name: due_at_date
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_unknown
        required: false
        description: ''
        name: due_at_unknown
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_since
        required: false
        description: ''
        name: due_at_since
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_range
        required: false
        description: ''
        name: due_at_range
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: tasks_create
      description: Create a task
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/Task'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: integer
          description: ''
          title: category
        required: false
        description: ''
        name: category
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_date
        required: false
        description: ''
        name: due_at_date
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_unknown
        required: false
        description: ''
        name: due_at_unknown
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_since
        required: false
        description: ''
        name: due_at_since
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_user
        required: false
        description: ''
        name: assignee_user
        in: query
      - schema:
          type: integer
          description: ''
          title: assignee_group
        required: false
        description: ''
        name: assignee_group
        in: query
      - schema:
          type: string
          description: ''
          title: due_at_range
        required: false
        description: ''
        name: due_at_range
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: tasks_list
      description: Retrieve or search tasks
  /api/inventory_vaccines:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryVaccine'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: string
          description: ''
          title: cvx_code
        required: false
        description: ''
        name: cvx_code
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions:
      - clinical-notes
      x-practice-access: '"share_inventory" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - clinical:read
        - clinical:write
      operationId: inventory_vaccines_create
      description: Create vaccine inventory
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/InventoryVaccine'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: status
        required: false
        description: ''
        name: status
        in: query
      - schema:
          type: string
          description: ''
          title: cvx_code
        required: false
        description: ''
        name: cvx_code
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions:
      - clinical-notes
      x-practice-access: '"share_inventory" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - clinical:read
        - clinical:write
      operationId: inventory_vaccines_list
      description: Retrieve or search vaccine inventories
  /api/task_categories/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_categories_update
      description: Update an existing task category
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_categories_partial_update
      description: Update an existing task category
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCategory'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_categories_read
      description: Retrieve an existing task category
  /api/task_notes/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: task
        required: false
        description: ''
        name: task
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_notes_update
      description: Update an existing task note
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: task
        required: false
        description: ''
        name: task
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_notes_partial_update
      description: Update an existing task note
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskNote'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: task
        required: false
        description: ''
        name: task
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - tasks:read
        - tasks:write
      operationId: task_notes_read
      description: Retrieve an existing task note
  /api/messages/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: integer
          description: ''
          title: responsible_user
        required: false
        description: ''
        name: responsible_user
        in: query
      - schema:
          type: string
          description: ''
          title: updated_since
        required: false
        description: ''
        name: updated_since
        in: query
      - schema:
          type: string
          description: ''
          title: received_since
        required: false
        description: ''
        name: received_since
        in: query
      - schema:
          type: integer
          description: ''
          title: owner
        required: false
        description: ''
        name: owner
        in: query
      - schema:
          type: string
          description: ''
          title: type
        required: false
        description: ''
        name: type
        in: query
      tags:
      - Practice Management
      x-permissions:
      - message-center
      x-practice-access: '"share_communications" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - messages:read
        - messages:write
      operationId: messages_update
      description: Update an existing message in doctor's message center
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: integer
          description: ''
          title: responsible_user
        required: false
        description: ''
        name: responsible_user
        in: query
      - schema:
          type: string
          description: ''
          title: updated_since
        required: false
        description: ''
        name: updated_since
        in: query
      - schema:
          type: string
          description: ''
          title: received_since
        required: false
        description: ''
        name: received_since
        in: query
      - schema:
          type: integer
          description: ''
          title: owner
        required: false
        description: ''
        name: owner
        in: query
      - schema:
          type: string
          description: ''
          title: type
        required: false
        description: ''
        name: type
        in: query
      tags:
      - Practice Management
      x-permissions:
      - message-center
      x-practice-access: '"share_communications" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - messages:read
        - messages:write
      operationId: messages_partial_update
      description: Update an existing message in doctor's message center
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoctorMessage'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: integer
          description: ''
          title: responsible_user
        required: false
        description: ''
        name: responsible_user
        in: query
      - schema:
          type: string
          description: ''
          title: updated_since
        required: false
        description: ''
        name: updated_since
        in: query
      - schema:
          type: string
          description: ''
          title: received_since
        required: false
        description: ''
        name: received_since
        in: query
      - schema:
          type: integer
          description: ''
          title: owner
        required: false
        description: ''
        name: owner
        in: query
      - schema:
          type: string
          description: ''
          title: type
        required: false
        description: ''
        name: type
        in: query
      tags:
      - Practice Management
      x-permissions:
      - message-center
      x-practice-access: '"share_communications" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - messages:read
        - messages:write
      operationId: messages_read
      description: Retrieve an existing message in doctor's message center
    delete:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: integer
          description: ''
          title: responsible_user
        required: false
        description: ''
        name: responsible_user
        in: query
      - schema:
          type: string
          description: ''
          title: updated_since
        required: false
        description: ''
        name: updated_since
        in: query
      - schema:
          type: string
          description: ''
          title: received_since
        required: false
        description: ''
        name: received_since
        in: query
      - schema:
          type: integer
          description: ''
          title: owner
        required: false
        description: ''
        name: owner
        in: query
      - schema:
          type: string
          description: ''
          title: type
        required: false
        description: ''
        name: type
        in: query
      tags:
      - Practice Management
      x-permissions:
      - message-center
      x-practice-access: '"share_communications" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - messages:read
        - messages:write
      operationId: messages_delete
      description: Delete an existing message in doctor's message center
  /api/offices/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: offices_update
      description: Update an existing office
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: offices_partial_update
      description: Update an existing office
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Practice Management
      x-permissions: []
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - user:read
        - user:write
      operationId: offices_read
      description: Retrieve an existing office
components:
  schemas:
    TaskTemplate:
      required:
      - name
      type: object
      properties:
        archived:
          type: boolean
          description: ''
          title: Archived
        name:
          type: string
          description: ''
          title: Name
        practice_group:
          readOnly: true
          type: string
          description: ''
          title: Practice group
        default_category:
          type: integer
          description: ''
          title: Default category
        updated_at:
          readOnly: true
          type: string
          description: ''
          title: Updated at
        default_title:
          type: string
          description: ''
          title: Default title
        default_note:
          type: string
          description: ''
          title: Default note
        default_status:
          type: integer
          description: ''
          title: Default status
        id:
          readOnly: true
          type: integer
          description: ''
          title: ID
        default_assignee_group:
          type: integer
          description: ''
          title: Default assignee group
        default_assignee_user:
          type: string
          description: ''
          title: Default assignee user
        default_due_date_offset:
          type: string
          description: Offset due date, format should follow `"[DD] [HH:[MM:]]ss[.uuuuuu]"`
          title: Default due date offset
        created_at:
          readOnly: true
          type: string
          description: ''
          title: Created at
        default_priority:
          enum:
          - '10'
          - '20'
          - '30'
          - '40'
          type: string
          description: Can be one of the following 10(Low), 20(Medium), 30(High), 40(Urgent)
          title: Default priority
      x-verbose-required: []
    Office:
      required: []
      type: object
      properties:
        phone_number:
          readOnly: true
          type: string
          description: ''
          title: Phone number
        city:
          readOnly: true
          type: string
          description: ''
          title: City
        archived:
          type: boolean
          description: Indicates that the object has been soft-deleted and should not be used
          title: Archived
        office_work_schedule:
          $ref: '#/components/schemas/WorkSchedule'
          description: Office work schedule (beta)
          title: Office Work schedule
        name:
          readOnly: true
          type: string
          description: ''
          title: Name
        doctor:
          readOnly: true
          type: string
          description: ID of the doctor who owns the office
          title: Doctor
        country:
          readOnly: true
          enum:
          - ''
          - AF
          - AX
          - AL
          - DZ
          - AS
          - AD
          - AO
          - AI
          - AQ
          - AG
          - AR
          - AM
          - AW
          - AU
          - AT
          - AZ
          - BS
          - BH
          - BD
          - BB
          - BY
          - BE
          - BZ
          - BJ
          - BM
          - BT
          - BO
          - BQ
          - BA
          - BW
          - BV
          - BR
          - IO
          - BN
          - BG
          - BF
          - BI
          - KH
          - CM
          - CA
          - CV
          - KY
          - CF
          - TD
          - CL
          - CN
          - CX
          - CC
          - CO
          - KM
          - CG
          - CD
          - CK
          - CR
          - CI
          - HR
          - CU
          - CW
          - CY
          - CZ
          - CYM
          - DK
          - DJ
          - DM
          - DO
          - EC
          - EG
          - SV
          - GQ
          - ER
          - EE
          - ET
          - FK
          - FO
          - FJ
          - FI
          - FR
          - GF
          - PF
          - TF
          - GA
          - GM
          - GE
          - DE
          - GH
          - GI
          - GR
          - GL
          - GD
          - GP
          - GU
          - GT
          - GG
          - GN
          - GW
          - GY
          - HT
          - HM
          - VA
          - HN
          - HK
          - HU
          - IS
          - IN
          - ID
          - IR
          - IQ
          - IE
          - IM
          - IL
          - IT
          - JM
          - JP
          - JE
          - JO
          - KZ
          - KE
          - KI
          - KP
          - KR
          - XK
          - KW
          - KG
          - LA
          - LV
          - LB
          - LS
          - LR
          - LY
          - LI
          - LT
          - LU
          - MO
          - MK
          - MG
          - MW
          - MY
          - MV
          - ML
          - MT
          - MH
          - MQ
          - MR
          - MU
          - YT
          - MX
          - FM
          - MD
          - MC
          - MN
          - ME
          - MS
          - MA
          - MZ
          - MM
          - NA
          - NR
          - NP
          - NL
          - NC
          - NZ
          - NI
          - NE
          - NG
          - NU
          - NF
          - MP
          - 'NO'
          - OM
          - PK
          - PW
          - PS
          - PA
          - PG
          - PY
          - PE
          - PH
          - PN
          - PL
          - PT
          - PR
          - QA
          - RE
          - RO
          - RU
          - RW
          - BL
          - SH
          - KN
          - LC
          - MF
          - PM
          - VC
          - WS
          - SM
          - ST
          - SA
          - SN
          - RS
          - SC
          - SL
          - SG
          - SX
          - SK
          - SI
          - SB
          - SO
          - ZA
          - GS
          - SS
          - ES
          - LK
          - SD
          - SR
          - SJ
          - SZ
          - SE
          - CH
          - SY
          - TW
          - TJ
          - TZ
          - TH
          - TL
          - TG
          - TK
          - TO
          - TT
          - TN
          - TR
          - TM
          - TC
          - TV
          - UG
          - UA
          - AE
          - GB
          - US
          - UM
          - UY
          - UZ
          - VU
          - VE
          - VN
          - VG
          - VI
          - WF
          - EH
          - YE
          - ZM
          - ZW
          type: string
          description: Two-letter country code
          title: Country
        start_time:
          type: string
          description: Truncated to the hour. Default is `00:00:00`
          title: Start time
        fax_number:
          readOnly: true
          type: string
          description: ''
          title: Fax number
        online_timeslots:
          items:
            title: OfficeOnlineHours
            type: object
            description: ''
            properties:
              minute:
                type: integer
                description: One of `0`, `15`, `30` or `45`
                title: Minute
              day:
                type: integer
                description: '`0`(Monday), ..., `6`(Sunday)'
                title: Day
              hour:
                type: integer
                description: From `0` to `23`
                title: Hour
          type: array
          description: Array of timslots
          title: Online timeslots
        state:
          readOnly: true
          enum:
          - AL
          - AK
          - AS
          - AZ
          - AR
          - AA
          - AE
          - AP
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - GU
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - MP
          - OH
          - OK
          - OR
          - PA
          - PR
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VI
          - VA
          - WA
          - WV
          - WI
          - WY
          type: string
          description: Two-letter abbreviation
          title: State
        end_time:
          type: string
          description: Truncated to the hour. Default is `24:00`
          title: End time
        exam_rooms:
          readOnly: true
          type: string
          description: ''
          title: Exam rooms
        address:
          readOnly: true
          type: string
          description: ''
          title: Address
        tax_id_number_professional:
          readOnly: true
          type: string
          description: 'Billing Tax ID #'
          title: Tax id number professional
        zip_code:
          readOnly: true
          type: string
          description: ''
          title: Zip code
        id:
          readOnly: true
          type: integer
          description: ''
          title: ID
        online_scheduling:
          type: boolean
          description: Default is `false`
          title: Online scheduling
      x-verbose-required:
      - online_timeslots
    Task:
      required:
      - title
      - status
      type: object
      properties:
        category:
          type: integer
          description: ''
          title: Category
        due_date:
          title: TaskReminder
          type: object
          description: When the task is due
          properties:
            time:
              type: string
              description: Due date time
              title: Time
        archived:
          type: boolean
          description: ''
          title: Archived
        associated_items:
          items:
            title: AssociatedTaskItem
            type: object
            description: ''
            properties:
              task:
                type: integer
                description: ''
                title: Task
              type:
                enum:
                - Document
                - Message
                - Lab result
                - Lab order
                - Patient
                - Appointment
                - Lab document
                - Communication
                type: string
                description: Can be one of `"Appointment"`, `"Patient"`, `"Message"`, `"Document"`, `"Lab order"`
                title: Type
              value:
                type: integer
                description: ID of the specified type object
                title: Value
          type: array
          description: Associated task items
          title: Associated items
        assigned_by:
          readOnly: true
          type: string
          description: ID of `/api/users/` who assigned the task
          title: Assigned by
        assignee_user:
          type: string
          description: Either `assignee_user` or `assignee_group` should be set
          title: Assignee user
[...]
