openapi: 3.0.0
info:
  version: v4 - Hunt Valley
  description: RESTful API for the drchrono EHR platform providing access to patient records, clinical encounters, appointments, prescriptions, billing, lab orders, and practice administration with OAuth 2.0 authentication and HIPAA-compliant data exchange.
  x-logo:
    url: https://www.drchrono.com/site_media/images/logos/drchrono-black-wpadding.png
    altText: DrChrono Logo
  title: DrChrono EHR REST Administrative Audit API
servers:
- url: https://app.drchrono.com
tags:
- description: Search Audit Logs
  name: Audit
paths:
  /api/audit_log:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/AuditLog'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: string
          description: ''
          title: date_range
        required: false
        description: ''
        name: date_range
        in: query
      - schema:
          type: string
          description: ''
          title: date
        required: false
        description: ''
        name: date
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: integer
          description: ''
          title: user
        required: false
        description: ''
        name: user
        in: query
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: ''
          title: type
        required: false
        description: ''
        name: type
        in: query
      - schema:
          type: string
          description: ''
          title: action
        required: false
        description: ''
        name: action
        in: query
      tags:
      - Audit
      x-permissions: null
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
      operationId: audit_log_list
      description: "Retrieve or search audit logs.\n<b>Note:</b> Either `since`, `date` or `date_range` parameter must be specified.\n            "
components:
  schemas:
    AuditLog:
      required: []
      type: object
      properties:
        patient:
          type: string
          description: Patient's name
          title: Patient
        description:
          type: string
          description: Text description of the audit log
          title: Description
        ip_address:
          type: string
          description: IPv4 address of the user
          title: IP Address
        created_at:
          type: string
          description: ''
          title: Created at
        appointment_id:
          type: integer
          description: ''
          title: Appointment Id
        updated_at:
          type: string
          description: ''
          title: Updated at
        field:
          type: string
          description: Related field of this audit entry
          title: Field
        name_of_user:
          type: string
          description: ''
          title: User name
        action:
          enum:
          - Not specified
          - Create
          - Read
          - Update
          - Delete
          type: string
          description: ''
          title: Action
        user_id:
          type: integer
          description: ''
          title: User id
        doctor_id:
          type: integer
          description: ''
          title: Doctor id
        type:
          enum:
          - Account
          - Allergy
          - API
          - Appointment Template
          - Appointment Profile
          - Appointment
          - Billing Profile
          - Chart
          - Clinical Note
          - Direct Message
          - Data Export
          - EPCS
          - eRx
          - Family History
          - Fee Schedule
          - Immunization
          - Insurance Authorization
          - Insurance
          - Insurance Credit Card Payment
          - Login
          - Medical Form
          - Medication
          - MedList
          - Office
          - OnPatient
          - Patient Flag
          - Permissions
          - Phone Log
          - Problem
          - Refill Request
          - Uploaded Documents
          - Sample Data
          - Telehealth
          - Fax
          - Vital Flowsheet
          - Navigation View
          - Break The Glass
          - Lab Order
          - File Access
          type: string
          description: Type of audit log
          title: Type
        page:
          type: string
          description: Related page of this audit entry
          title: Page
      x-verbose-required:
      - description
  securitySchemes:
    drchrono_oauth2:
      type: oauth2
      description: ''
      flows:
        authorizationCode:
          scopes:
            billing:patient-payment:read: View patient payment information
            billing:read: View billing information.
            patients:read: View detailed patient information.
            user:write: Edit select account information, such as creating new exam rooms.
            messages:write: Create and modify messages in your message center.
            messages:read: View messages in your message center.
            tasks:write: Create and modify tasks in your tasks center
            tasks:read: View tasks in your tasks center
            labs:write: Create and modify patient lab orders and results.
            patients:write: Create patients and modify detailed patient information.
            settings:write: Create resources that requires Settings permission, such as custom fields.
            billing:patient-payment:write: Modify patient payment information
            clinical:write: Create and modify clinical information, such as vitals, clinical notes, medications and diagnoses.
            patients:summary:write: Create new patients and set their name, chart_id, age, and gender.
            calendar:read: View your appointments.
            user:read: View your basic information.
            billing:write: Modify billing information.
            settings:read: View resources that requires Settings permission, such as custom fields.
            labs:read: View patient lab orders and results.
            calendar:write: Schedule appointments and modify the data associated with them.
            patients:summary:read: View summary information about your patients. This includes patients' name, chart_id, age, and gender.
            clinical:read: View clinical information, such as vitals, clinical notes, medications and diagnoses.
          tokenUrl: https://app.drchrono.com/o/token/
          authorizationUrl: https://app.drchrono.com/o/authorize/
