openapi: 3.0.0
info:
  version: v4 - Hunt Valley
  description: RESTful API for the drchrono EHR platform providing access to patient records, clinical encounters, appointments, prescriptions, billing, lab orders, and practice administration with OAuth 2.0 authentication and HIPAA-compliant data exchange.
  x-logo:
    url: https://www.drchrono.com/site_media/images/logos/drchrono-black-wpadding.png
    altText: DrChrono Logo
  title: DrChrono EHR REST Administrative Billing API
servers:
- url: https://app.drchrono.com
tags:
- description: Create and manage billing resources
  name: Billing
paths:
  /api/day_sheet_charges:
    get:
      description: Retrieve daysheet charges report for a given date range
      parameters:
      - schema:
          type: string
          description: Start date of report (M/D/YYYY)
          title: start_date
        required: true
        name: start_date
        in: query
      - schema:
          type: string
          description: End date of report (M/D/YYYY)
          title: end_date
        required: true
        name: end_date
        in: query
      - schema:
          type: string
          description: Filters report by scheduled time or date of entry if not provided. Can be one of ('scheduled_time', ' ')
          title: charges_date_type
        required: false
        name: charges_date_type
        in: query
      - schema:
          type: string
          description: Filters report by given value. Can be one of ('reimbursement_analysis', ' ')
          title: report_type
        required: false
        name: report_type
        in: query
      - schema:
          type: string
          description: Filters report by professional or institutional claims. Can be one of ('institutional', 'professional', ' ')
          title: claim_type
        required: false
        name: claim_type
        in: query
      - schema:
          type: integer
          description: Filters report by a given patient ID
          title: patient_id
        required: false
        name: patient_id
        in: query
      - schema:
          type: string
          description: Filters report by a given office
          title: office
        required: false
        name: office_id
        in: query
      - schema:
          type: integer
          description: Filters report by a given examroom ID
          title: examroom_id
        required: false
        name: examroom_id
        in: query
      - schema:
          type: boolean
          description: Runs report for all providers in the practice group
          title: pg_mode
        required: false
        name: pg_mode
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - access-patient-payments
      security:
      - drchrono_oauth2:
        - billing
      operationId: daysheet_charges_list
  /api/eligibility_checks:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/Coverage'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: ''
          title: appointment_date
        required: false
        description: ''
        name: appointment_date
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: string
          description: ''
          title: query_date_range
        required: false
        description: ''
        name: query_date_range
        in: query
      - schema:
          type: string
          description: ''
          title: appointment_date_range
        required: false
        description: ''
        name: appointment_date_range
        in: query
      - schema:
          type: string
          description: ''
          title: query_date
        required: false
        description: ''
        name: query_date
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      tags:
      - Billing
      x-permissions:
      - scheduling
      - manage-patients
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - calendar:read
        - calendar:write
        - patients:read
        - patients:write
      operationId: eligibility_checks_list
      description: Retrieve or search past eligibility checks for patient
  /api/patient_authorizations:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/PatientAuthorization'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: start_date
        in: query
      - schema:
          type: string
          description: ''
          title: date_range
        required: false
        description: ''
        name: date_range
        in: query
      - schema:
          type: string
          description: ''
          title: date
        required: false
        description: ''
        name: end_date
        in: query
      tags:
      - Billing
      x-permissions: null
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security: null
      operationId: patient_authorizations_list
      description: Retrieve or search patient authorizations
  /api/custom_insurance_plan_names/{id}:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomInsurancePlanName'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: user
        required: false
        description: ''
        name: user
        in: query
      - schema:
          type: string
          description: ''
          title: name
        required: false
        description: ''
        name: name
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - settings
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - settings:read
        - settings:write
      operationId: custom_insurance_plan_names_read
      description: Retrieve an existing custom insurance plan name
  /api/line_items_list:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    description: 'Status of the request.  Possible values are "In progress", "Complete", "Failed", "Canceled".

                      '
                    title: status
                  uuid:
                    type: string
                    description: UUID of the batch of billing line items.
                    title: uuid
                  description:
                    type: string
                    description: Contains link to load the batch by UUID
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          title: order_by
        required: false
        description: 'Order results by a specific field. Valid options include [id, updated_at]. Default: id.'
        name: order_by
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: Date of billing line item creation
          title: posted_date
        required: false
        description: ''
        name: posted_date
        in: query
      - schema:
          type: integer
          description: Patient associated with the billing line item
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: Office associated with the billing line item
          title: office
        required: false
        description: ''
        name: office
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: Date on which the service was rendered
          title: service_date
        required: false
        description: ''
        name: service_date
        in: query
      - schema:
          type: string
          description: Bounded date range in which the service was rendered
          title: service_date_range
        required: false
        description: ''
        name: service_date_range
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
      operationId: line_items_list_create
      description: Create a billing line items list request
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  status:
                    type: string
                    description: 'Status of the request.  Possible values are "In progress", "Complete", "Failed", "Canceled".

                      '
                    title: status
                  results:
                    items:
                      $ref: '#/components/schemas/BillingLineItem'
                    type: array
                    description: result data. only presented when the status is "completed"
                    title: data
                  uuid:
                    type: string
                    description: UUID of the batch of billing line items.
                    title: uuid
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResourceError'
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: uuid
        required: false
        description: 'The UUID token for the batch of patients.  This is returned in the response of the create endpoint.

          '
        name: uuid
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
      operationId: line_items_list_list
      description: Retrieve the list of billing line items
  /api/day_sheet_patient_payments:
    get:
      description: Retrieve daysheet cash report for a given date range
      parameters:
      - schema:
          type: string
          description: Start date of report (M/D/YYYY)
          title: start_date
        required: true
        name: start_date
        in: query
      - schema:
          type: string
          description: End date of report (M/D/YYYY)
          title: end_date
        required: true
        name: end_date
        in: query
      - schema:
          type: string
          description: Filters report by scheduled time or date of entry if not provided. Can be one of ('scheduled_time', ' ')
          title: charges_date_type
        required: false
        name: charges_date_type
        in: query
      - schema:
          type: string
          description: Filters report by given value. Can be one of ('reimbursement_analysis', ' ')
          title: report_type
        required: false
        name: report_type
        in: query
      - schema:
          type: string
          description: Filters report by professional or institutional claims. Can be one of ('institutional', 'professional', ' ')
          title: claim_type
        required: false
        name: claim_type
        in: query
      - schema:
          type: integer
          description: Filters report by a given patient ID
          title: patient_id
        required: false
        name: patient_id
        in: query
      - schema:
          type: string
          description: Filters report by a given office
          title: office
        required: false
        name: office
        in: query
      - schema:
          type: integer
          description: Filters report by a given examroom ID
          title: examroom_id
        required: false
        name: examroom_id
        in: query
      - schema:
          type: bool
          description: Enables backward compatibility for legacy version
          title: legacy
        required: false
        name: legacy
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - access-patient-payments
      security:
      - drchrono_oauth2:
        - billing
      operationId: day_sheet_patient_payments_list
  /api/eligibility_checks/{id}:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coverage'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: ''
          title: appointment_date
        required: false
        description: ''
        name: appointment_date
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: string
          description: ''
          title: query_date_range
        required: false
        description: ''
        name: query_date_range
        in: query
      - schema:
          type: string
          description: ''
          title: appointment_date_range
        required: false
        description: ''
        name: appointment_date_range
        in: query
      - schema:
          type: string
          description: ''
          title: query_date
        required: false
        description: ''
        name: query_date
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      tags:
      - Billing
      x-permissions:
      - scheduling
      - manage-patients
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - calendar:read
        - calendar:write
        - patients:read
        - patients:write
      operationId: eligibility_checks_read
      description: Retrieve an existing past eligibility check
  /api/comm_logs:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneCallLog'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - scheduling
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - calendar:read
        - calendar:write
      operationId: comm_logs_create
      description: Create communication (phone call) logs
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/PhoneCallLog'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - scheduling
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - calendar:read
        - calendar:write
      operationId: comm_logs_list
      description: Retrieve or search communicatioin (phone call) logs
  /api/day_sheet_credits:
    get:
      description: Retrieve daysheet credits/adjustments report for a given date range
      parameters:
      - schema:
          type: string
          description: Start date of report (M/D/YYYY)
          title: start_date
        required: true
        name: start_date
        in: query
      - schema:
          type: string
          description: End date of report (M/D/YYYY)
          title: end_date
        required: true
        name: end_date
        in: query
      - schema:
          type: string
          description: Filters report by posted date or deposit date. Defaults to date of entry if not provided. Can be one of ('credit', 'debit', ' ')
          title: credits_date_type
        required: false
        name: credits_date_type
        in: query
      - schema:
          type: string
          description: Filters report by given value. Can be one of ('reimbursement_analysis', ' ')
          title: report_type
        required: false
        name: report_type
        in: query
      - schema:
          type: string
          description: Filters report by professional or institutional claims. Can be one of ('institutional', 'professional', ' ')
          title: claim_type
        required: false
        name: claim_type
        in: query
      - schema:
          type: integer
          description: Filters report by a given patient ID
          title: patient_id
        required: false
        name: patient_id
        in: query
      - schema:
          type: string
          description: Filters report by a given office
          title: office
        required: false
        name: office_id
        in: query
      - schema:
          type: integer
          description: Filters report by a given examroom ID
          title: examroom_id
        required: false
        name: examroom_id
        in: query
      - schema:
          type: boolean
          description: Runs report for all providers in the practice group
          title: pg_mode
        required: false
        name: pg_mode
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - access-patient-payments
      security:
      - drchrono_oauth2:
        - billing
      operationId: daysheet_credits_list
  /api/transactions_list:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    description: Status of the request. Upon creation this will be "In progress"
                    title: status
                  uuid:
                    type: string
                    description: UUID of the batch of patients.
                    title: uuid
                  description:
                    type: string
                    description: Contains link to load the batch by UUID
          description: Created
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          title: order_by
        required: false
        description: 'Order results by a specific field. Valid options include [id, updated_at]. Default: id.'
        name: order_by
        in: query
      - schema:
          type: integer
          title: Page size
        description: Number of results to return per page. Value between 1 and 1000.
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          title: page
        description: Number of page to return. Value between 1 and max number of pages in result set.
        required: false
        name: page
        in: query
      - schema:
          type: integer
          title: line_item
        description: Line item ID
        required: false
        name: line_item
        in: query
      - schema:
          type: string
          title: posted_date
        description: Posted date
        required: false
        name: posted_date
        in: query
      - schema:
          type: integer
          title: appointment
        description: appointment
        required: false
        name: appointment
        in: query
      - schema:
          type: string
          title: since
        description: since
        required: false
        name: since
        in: query
      - schema:
          type: integer
          title: doctor
        description: doctor
        required: false
        name: doctor
        in: query
      - schema:
          type: boolean
          title: verbose
        description: When True includes full details
        required: false
        name: verbose
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: transactions_list_create
      description: 'Create transactions list request.  Use the UUID returned in the response to retrieve the batch of records. Results returned in order of id or updated_at.

        '
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  status:
                    type: string
                    description: 'Status of the request.  Possible values are "In progress" or "Complete".

                      '
                    title: status
                  pagination:
                    properties:
                      count:
                        type: int
                        description: the count of all records in the result set.
                        title: count
                      pages:
                        type: int
                        description: the total pages of all pages in the result set.
                        title: pages
                      page:
                        type: int
                        description: the current page (starting with 1) in the total pages.
                        title: page
                    type: object
                    description: information on the total pages, current page and total count.
                    title: pagination
                  results:
                    items:
                      $ref: '#/components/schemas/LineItemTransaction'
                    type: array
                    description: result data. only presented when the status is "Complete"
                    title: data
                  uuid:
                    type: string
                    description: UUID of the batch.
                    title: uuid
          description: OK
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResourceError'
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The UUID token for the batch of transactions
          title: uuid
        required: true
        description: 'The UUID token for the batch of transactions.  This is returned in the response of the `create` endpoint.

          '
        name: uuid
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: transactions_list_list
      description: Retrieve or search transactions in batches. Results returned in order of ID or updated_at.
  /api/patient_payments/{id}:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashPayment'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - access-patient-payments
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:patient-payment:read
        - billing:patient-payment:write
      operationId: patient_payments_read
      description: Retrieve an existing patient payment
  /api/patient_payments:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashPayment'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - access-patient-payments
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:patient-payment:read
        - billing:patient-payment:write
      operationId: patient_payments_create
      description: Create patient payment
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/CashPayment'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: string
          description: ''
          title: posted_date
        required: false
        description: ''
        name: posted_date
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - access-patient-payments
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:patient-payment:read
        - billing:patient-payment:write
      operationId: patient_payments_list
      description: Retrieve or search patient payments
  /api/clinical_note_field_values_list:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    description: Status of the request. Upon creation this will be "In progress"
                    title: status
                  uuid:
                    type: string
                    description: UUID of the batch.
                    title: uuid
                  description:
                    type: string
                    description: Contains link to load the batch by UUID
                    title: description
          description: Created
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          title: order_by
        required: false
        description: 'Order results by a specific field. Valid options include [id, updated_at]. Default: id.'
        name: order_by
        in: query
      - schema:
          type: integer
          description: Number of results to return per page. Value between 1 and 20000.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: Number of page to return. Value between 1 and max number of pages in result set.
          title: Page
        required: false
        name: page
        in: query
      - schema:
          type: string
          description: Inclusive lower bound on updated_at
          title: since
        required: false
        name: since
        in: query
      - schema:
          type: integer
          description: Appointment ID filter
          title: appointment
        required: false
        name: appointment
        in: query
      - schema:
          type: integer
          description: ID of clinical note report template
          title: clinical_note_template
        required: false
        name: clinical_note_template
        in: query
      tags:
      - Billing
      x-permissions:
      - scheduling
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - calendar:read
        - patients:read
      operationId: clinical_note_field_values_list_create
      description: 'Create clinical note field value list request.  Use the UUID returned in the response to retrieve the batch of records. Results returned in order of ID.

        '
  /api/billing_profiles:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/BillingProfile'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_billing_profiles" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: billing_profiles_list
      description: Retrieve or search billing profiles
  /api/billing_profiles/{id}:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_billing_profiles" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: billing_profiles_read
      description: Retrieve an existing billing profiles
  /api/line_item_deletions:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  results:
                    items:
                      $ref: '#/components/schemas/BillingLineItemDeletion'
                    type: array
                    description: Result data
                    title: data
                  next:
                    type: string
                    description: Next paginated page
                    title: next
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The datetime to query by
          title: since
        required: false
        name: since
        in: query
      - schema:
          type: integer
          description: The original appointment ID to filter results by
          title: appointment_id
        required: false
        name: appointment_id
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
      operationId: line_item_deletions_list
      description: 'Retrieve or search billing line item deletions. When a billing line item is deleted, a record of its original ID and the appointment it was attached to will be logged and is accessible from this resource.

        '
  /api/transactions:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/LineItemTransaction'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: integer
          description: ''
          title: line_item
        required: false
        description: ''
        name: line_item
        in: query
      - schema:
          type: string
          description: ''
          title: posted_date
        required: false
        description: ''
        name: posted_date
        in: query
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: transactions_list
      description: Retrieve or search insurance transactions associated with billing line items
  /api/custom_insurance_plan_names:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/CustomInsurancePlanName'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: user
        required: false
        description: ''
        name: user
        in: query
      - schema:
          type: string
          description: ''
          title: name
        required: false
        description: ''
        name: name
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - settings
      x-practice-access: Data access among practice is available
      security:
      - drchrono_oauth2:
        - settings:read
        - settings:write
      operationId: custom_insurance_plan_names_list
      description: Retrieve or search custom insurance plan names
  /api/day_sheet_totals:
    get:
      description: Retrieve daysheet totals report for a given date range
      parameters:
      - schema:
          type: string
          description: Start date of report (M/D/YYYY)
          title: start_date
        required: true
        name: start_date
        in: query
      - schema:
          type: string
          description: End date of report (M/D/YYYY)
          title: end_date
        required: true
        name: end_date
        in: query
      - schema:
          type: string
          description: Filters report by scheduled time or date of entry if not provided. Can be one of ('scheduled_time', ' ')
          title: charges_date_type
        required: false
        name: charges_date_type
        in: query
      - schema:
          type: string
          description: Filters report by given value. Can be one of ('reimbursement_analysis', ' ')
          title: report_type
        required: false
        name: report_type
        in: query
      - schema:
          type: string
          description: Filters report by date of service if receives value of 'check' otherwise defaults to posted date. Can be one of ('check', ' ')
          title: credits_date_type
        required: false
        name: credits_date_type
        in: query
      - schema:
          type: string
          description: Groups data
          title: group_by
        required: false
        name: group_by
        in: query
      - schema:
          type: string
          description: Sub-groups data
          title: sub_group_by
        required: false
        name: sub_group_by
        in: query
      - schema:
          type: string
          description: Tertiary Groups data
          title: tertiary_group_by
        required: false
        name: tertiary_group_by
        in: query
      - schema:
          type: string
          description: Includes moved cash if value of 'simple' is passed. Can be one of ('simple', ' ')
          title: cash_view_type
        required: false
        name: cash_view_type
        in: query
      - schema:
          type: integer
          description: Filters report by a given patient ID
          title: patient_id
        required: false
        name: patient_id
        in: query
      - schema:
          type: string
          description: Filters report by a given office
          title: office_id
        required: false
        name: office_id
        in: query
      - schema:
          type: integer
          description: Filters report by a given examroom ID
          title: examroom_id
        required: false
        name: examroom_id
        in: query
      - schema:
          type: boolean
          description: Runs report for all providers in the practice group
          title: pg_mode
        required: false
        name: pg_mode
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - access-patient-payments
      security:
      - drchrono_oauth2:
        - billing
      operationId: daysheet_totals_list
  /api/transactions/{id}:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemTransaction'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: integer
          description: ''
          title: line_item
        required: false
        description: ''
        name: line_item
        in: query
      - schema:
          type: string
          description: ''
          title: posted_date
        required: false
        description: ''
        name: posted_date
        in: query
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: transactions_read
      description: Retrieve an existing insurance transaction
  /api/procedures:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/Procedure'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: mu_date
        required: false
        description: ''
        name: mu_date
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: string
          description: ''
          title: mu_date_range
        required: false
        description: ''
        name: mu_date_range
        in: query
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: ''
          title: service_date
        required: false
        description: ''
        name: service_date
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: procedures_list
  /api/eligibility_checks_list:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  status:
                    type: string
                    description: 'Status of the request.  Possible values are "Complete" or "In progress".

                      '
                    title: status
                  pagination:
                    properties:
                      count:
                        type: int
                        description: the count of all records in the result set.
                        title: count
                      pages:
                        type: int
                        description: the total pages of all pages in the result set.
                        title: pages
                      page:
                        type: int
                        description: the current page (starting with 1) in the total pages.
                        title: page
                    type: object
                    description: information on the total pages, current page and total count.
                    title: pagination
                  results:
                    items:
                      $ref: '#/components/schemas/Coverage'
                    type: array
                    description: result data. only presented when the status is "Complete"
                    title: data
                  uuid:
                    type: string
                    description: UUID of the batch.
                    title: uuid
          description: OK
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResourceError'
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: uuid
        required: false
        description: 'The UUID token for the batch of eligibility checks.  This is returned in the response of the `create` endpoint.

          '
        name: uuid
        in: query
      tags:
      - Billing
      x-permissions:
      - scheduling
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - calendar:read
        - patients:read
      operationId: eligibility_checks_list_list
      description: Retrieve or search eligibility checks in batches. Results returned in order of ID or updated_at.
  /api/procedures/{id}:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Procedure'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: mu_date
        required: false
        description: ''
        name: mu_date
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: string
          description: ''
          title: mu_date_range
        required: false
        description: ''
        name: mu_date_range
        in: query
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: ''
          title: service_date
        required: false
        description: ''
        name: service_date
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: procedures_read
  /api/line_items/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: posted_date
        required: false
        description: ''
        name: posted_date
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: office
        required: false
        description: ''
        name: office
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: Date on which the service was rendered
          title: service_date
        required: false
        description: ''
        name: service_date
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: line_items_update
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: posted_date
        required: false
        description: ''
        name: posted_date
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: office
        required: false
        description: ''
        name: office
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: Date on which the service was rendered
          title: service_date
        required: false
        description: ''
        name: service_date
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: line_items_partial_update
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingLineItem'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: posted_date
        required: false
        description: ''
        name: posted_date
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: office
        required: false
        description: ''
        name: office
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: Date on which the service was rendered
          title: service_date
        required: false
        description: ''
        name: service_date
        in: query
      - schema:
          type: string
          description: Bounded date range in which the service was rendered
          title: service_date_range
        required: false
        description: ''
        name: service_date_range
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: line_items_read
      description: Retrieve an existing billing line item
    delete:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: posted_date
        required: false
        description: ''
        name: posted_date
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: office
        required: false
        description: ''
        name: office
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: Date on which the service was rendered
          title: service_date
        required: false
        description: ''
        name: service_date
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: line_items_delete
  /api/patient_payment_log:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/CashPaymentLog'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: office
        required: false
        description: ''
        name: office
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: patient_payment_log_list
      description: Retrieve or search patient payment logs
  /api/patient_payment_log/{id}:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashPaymentLog'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: office
        required: false
        description: ''
        name: office
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: patient_payment_log_read
      description: Retrieve an existing patient payment log
  /api/comm_logs/{id}:
    put:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - scheduling
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - calendar:read
        - calendar:write
      operationId: comm_logs_update
      description: Update an existing communication (phone call) logs
    patch:
      responses:
        '204':
          content: {}
          description: No Content
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - scheduling
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - calendar:read
        - calendar:write
      operationId: comm_logs_partial_update
      description: Update an existing communication (phone call) logs
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneCallLog'
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: ''
        required: true
        name: id
        in: path
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      tags:
      - Billing
      x-permissions:
      - scheduling
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - calendar:read
        - calendar:write
      operationId: comm_logs_read
      description: Retrieve an existing communication (phone call) logs
  /api/line_items:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingLineItem'
          description: Created
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: ''
          title: posted_date
        required: false
        description: ''
        name: posted_date
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: office
        required: false
        description: ''
        name: office
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: ''
          title: service_date
        required: false
        description: ''
        name: service_date
        in: query
      - schema:
          type: boolean
          description: ''
          title: use_fee_schedule_defaults
        required: false
        description: When true, resolves price and modifiers from the fee schedule before creating the line item. Only applies to CPT (C) and HCPCS (H) procedure types. Caller-supplied price and modifiers take precedence over fee schedule values.
        name: use_fee_schedule_defaults
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: line_items_create
      description: Create billing line item for appointments
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                title: ''
                type: object
                description: Paginated Result
                properties:
                  previous:
                    type: string
                    description: Previous paginated page
                    title: previous
                  data:
                    items:
                      $ref: '#/components/schemas/BillingLineItem'
                    type: array
                    description: result data
                    title: data
                  next:
                    type: string
                    description: Next Paginated page
                    title: next
          description: OK
        '405':
          content: {}
          description: Method Not Allowed
        '404':
          content: {}
          description: Not Found
        '403':
          content: {}
          description: Permission Denied
        '401':
          content: {}
          description: Unauthorized
        '400':
          content: {}
          description: Bad Request
        '500':
          content: {}
          description: Internal Server Error
      parameters:
      - schema:
          type: string
          description: The pagination cursor value.
          title: Cursor
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          description: Number of results to return per page.
          title: Page size
        required: false
        name: page_size
        in: query
      - schema:
          type: string
          description: date of line_item creation
          title: posted_date
        required: false
        description: ''
        name: posted_date
        in: query
      - schema:
          type: integer
          description: ''
          title: patient
        required: false
        description: ''
        name: patient
        in: query
      - schema:
          type: integer
          description: ''
          title: office
        required: false
        description: ''
        name: office
        in: query
      - schema:
          type: integer
          description: ''
          title: doctor
        required: false
        description: ''
        name: doctor
        in: query
      - schema:
          type: string
          description: ''
          title: since
        required: false
        description: ''
        name: since
        in: query
      - schema:
          type: integer
          description: ''
          title: appointment
        required: false
        description: ''
        name: appointment
        in: query
      - schema:
          type: string
          description: Date on which the service was rendered
          title: service_date
        required: false
        description: ''
        name: service_date
        in: query
      tags:
      - Billing
      x-permissions:
      - billing
      - show-billing-tab
      x-practice-access: '"share_patients" need to be set for data access among practice'
      security:
      - drchrono_oauth2:
        - billing:read
        - billing:write
      operationId: line_items_list
      description: Retrieve or search billing line items
components:
  schemas:
    AsyncResourceError:
      properties:
        status:
          type: string
          description: Either "Error" or "Failed"
          title: Status
        uuid:
          type: string
          description: The UUID used to get the data for the asynchronous request
          title: UUID
        detail:
          type: string
          description: Instructions on what to do next
          title: Detail
    LineItemTransaction:
      required: []
      type: object
      properties:
        insurance:
          properties:
            id_number:
              type: string
              description: Insurance company ID number
              title: ID number
            message:
              type: string
              description: Additional information about the insurance
              title: Message
            name:
              type: string
              description: Insurance company name
              title: Name
          type: object
          description: Information about the insurance associated with the transaction.
          title: Insurance
        ins_paid:
          type: number
          description: ''
          title: Ins paid
        posted_date:
          readOnly: true
          type: string
          description: Date when transaction is created
          title: Posted date
        appointment:
          type: integer
          description: Appointment ID
          title: Appointment
        ins_name:
          type: integer
          description: Can be one of the following, `1`(Primary Insurance), `2`(Secondary Insurance)
          title: Ins name
        doctor:
          type: integer
          description: Doctor ID
          title: Doctor
        adjustment_group_code:
          readOnly: true
          enum:
          - ''
          - CO
          - OA
          - PI
          - PR
          type: string
          description: Group code for adjustment
          title: Adjustment group code
        updated_at:
          readOnly: true
          type: string
          description: ''
          title: Updated at
        id:
          readOnly: true
          type: integer
          description: ''
          title: ID
        line_item:
          type: integer
          description: ID of `/api/line_item` object
          title: Line item
        claim_status:
          readOnly: true
          enum:
          - ''
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '10'
          - '13'
          - '15'
          - '16'
          - '17'
          - '19'
          - '20'
          - '21'
          - '22'
          - '23'
          - '25'
          - '27'
          type: string
          description: Status of claim
          title: Claim status
        check_date:
          readOnly: true
          type: string
          description: Date of check
          title: Check date
        trace_number:
          type: string
          description: Check number
          title: Trace number
        adjustment_reason:
          enum:
          - '-3'
          - '-2'
          - '-4'
          - '-1'
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
          - '10'
          - '11'
          - '12'
          - '13'
          - '14'
          - '15'
          - '16'
          - '18'
          - '19'
          - '20'
          - '21'
          - '22'
          - '23'
          - '24'
          - '26'
          - '27'
          - '29'
          - '31'
          - '32'
          - '33'
          - '34'
          - '35'
          - '39'
          - '40'
          - '44'
          - '45'
          - '49'
          - '50'
          - '51'
          - '53'
          - '54'
          - '55'
          - '56'
          - '58'
          - '59'
          - '60'
          - '61'
          - '66'
          - '69'
          - '70'
          - '74'
          - '75'
          - '76'
          - '78'
          - '85'
          - '87'
          - '89'
          - '90'
          - '91'
          - '94'
          - '95'
          - '96'
          - '97'
          - '100'
          - '101'
          - '102'
          - '103'
          - '104'
          - '105'
          - '106'
          - '107'
          - '108'
          - '109'
          - '110'
          - '111'
          - '112'
          - '114'
          - '115'
          - '116'
          - '117'
          - '118'
          - '119'
          - '121'
          - '122'
          - '125'
          - '128'
          - '129'
          - '130'
          - '131'
          - '132'
          - '133'
          - '134'
          - '135'
          - '136'
          - '137'
          - '138'
          - '139'
          - '140'
          - '142'
          - '143'
          - '144'
          - '146'
          - '147'
          - '148'
          - '149'
          - '150'
          - '151'
          - '152'
          - '153'
          - '154'
          - '155'
          - '157'
          - '158'
          - '159'
          - '160'
          - '161'
          - '162'
          - '163'
          - '164'
          - '165'
          - '166'
          - '167'
          - '168'
          - '169'
          - '170'
          - '171'
          - '172'
          - '173'
          - '174'
          - '175'
          - '176'
          - '177'
          - '178'
          - '179'
          - '180'
          - '181'
          - '182'
          - '183'
          - '184'
          - '185'
          - '186'
          - '187'
          - '188'
          - '189'
          - '190'
          - '191'
          - '192'
          - '193'
          - '194'
          - '195'
          - '197'
          - '198'
          - '199'
          - '200'
          - '201'
          - '202'
          - '203'
          - '204'
          - '205'
          - '206'
          - '207'
          - '208'
          - '209'
          - '210'
          - '211'
          - '212'
          - '213'
          - '214'
          - '215'
          - '216'
          - '217'
          - '218'
          - '219'
          - '220'
          - '221'
          - '222'
          - '223'
          - '224'
          - '225'
          - '226'
          - '227'
          - '228'
          - '229'
          - '230'
          - '231'
          - '232'
          - '233'
          - '234'
          - '235'
          - '236'
          - '237'
          - '238'
          - '239'
          - '240'
          - '241'
          - '242'
          - '243'
          - '244'
          - '245'
          - '246'
          - '247'
          - '248'
          - '249'
          - '250'
[...]
